In [7]:
import pandas as pd

ts = pd.read_csv('train.csv')
ts.head()

         Date  target_value
0  2021-12-20   3928.770142
1  2021-12-21   3979.361939
2  2021-12-22   4000.397705
3  2021-12-23   4044.988647
4  2021-12-24   4079.664062

In [8]:
# tf = pd.read_csv('btc_usd_2015_2023.csv')
# tf['target_value'] = (tf.High + tf.Low) /2
# tf = tf.drop(columns=['Open', 'High', 'Low', 'Close', 'Adj Close'])
# tf.to_csv('train_btc.csv')
# tf.head()

In [18]:
tf = pd.read_csv("btc_usd_2015_2023.csv")
tf = tf[tf.Date > '2020-01-01']
tf['target_value'] = (tf.High + tf.Low) /2


df = pd.DataFrame()
df['Date'] = tf['Date']
df['Volume'] = tf['Volume']
df['target_value'] = tf['target_value']


df.to_csv('train_btc.csv', index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1228 entries, 1827 to 3054
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          1228 non-null   object
 1   Volume        1228 non-null   int64
 2   target_value  1228 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 38.4+ KB